name: CI/CD Pipeline
# on github setting pages,  select github actions as the source
on:
  push:
    branches: [ main ]

permissions:
  pages: write      # to deploy to Pages
  id-token: write   # to verify the deployment originates from an appropriate source
  contents: read    # to access the repository contents

 
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build

    - name: Prepare artifact
      run: mkdir artifact && cp -rL build/* artifact/

    - name: Upload page artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'github-pages'
        path: artifact 

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        artifact_name: 'github-pages'